.example-spacer {
  flex: 1 1 auto;
}

:host mat-toolbar {
  background: #fff;
}

.container-content {
  padding-right: 50px
}
.container-content {
  padding-right: 50px;
}

@media screen and (max-width: 1600px) {
  .container-content {
    padding-right: 30px;
  }
}

.detail-icons{
  margin-left: 10px;
}